@import '../../variables';

.sheet-page {
  width: 80%;
  margin: 0 auto;

  svg {
    display: block;
  }

  .music-sheet {
    width: 80%;
    margin: 20px;
    background-color: $surface;
    display: flex;
    justify-content: center;
  }
}