@import '../../variables';

.sheet-page {
  width: 80%;
  margin: 0 auto;

  svg {
    display: block;
  }

  .music-sheet {
    width: 80%;
    margin: 20px;
    background-color: $surface;
    display: flex;
    justify-content: center;
  }

  input[type="button"] {
    margin-top: 10px;
    ;
  }

  .display-notes {
    width: 200px;
    display: inline-block;
  }

  .play-complete {
    width: 30%;
    min-height: 40px;;
    margin: 0 auto;
    color: $success;
    font-size: $font-size-bigger;
  }
}