$primary: #004f80;
$primary-dark: #002753;
$primary-light: #477bb0;
$background: #FFF;
$surface: #FAFAFA;
$error: #B81813;
$success: #05A905;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$font-size: 1rem;
$font-size-big: 1.375rem;
$font-size-bigger: 1.75rem;
$media-width-small: 500px;
$media-width-medium: 900px;
